<div class="imagen">
    <div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnyHkmqentPFUALakD9kUa8YMWkn2rq63E2g&usqp=CAU);" class="bg_cobertura text-white">
        <div class="container py-5 text-center texto">
            <h1 class="display-4 font-weight-bold text-uppercase mt-5">FAQ</h1>
            <div class="container descripcion">
                <p class="font-italic mb-0">Sección de preguntas frequentes acerca del sitio.</p>
            </div>

            
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade show active p-3" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
        
    </div>
</div>