<body class="bg-light p-0 m-0">
    <div class="container-fluid m-0 p-0 w-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-sm-flex align-items-baseline reporte_encabezado">
                                    <h5 class="font-weight-semibold">Resumen</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row reporte_contenedor_interno">
                            <div class=" col-md -6 col-xl reporte_interno">
                                <div class="inner-card-text">
                                    <span class="report-title text-uppercase">usuarios</span>
                                    <h4>2,345</h4>
                                    <span class="cuenta_reporte"> <i class="fas fa-long-arrow-alt-up"></i>
                                        2% </span>
                                    <span class="cuenta_reporte text-muted">desde el mes pasado</span>
                                </div>
                                <div class="reporte_icono_interno">
                                    <i class="fas fa-users text-danger"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl reporte_interno">
                                <div class="inner-card-text">
                                    <span class="report-title text-uppercase">PRODUCTOS</span>
                                    <h4>95,458</h4>
                                    <span class="cuenta_reporte"> <i class="fas fa-long-arrow-alt-up"></i>
                                        5%</span>
                                    <span class="cuenta_reporte text-muted">desde el mes pasado</span>
                                </div>
                                <div class="reporte_icono_interno">
                                    <i class="fas fa-box text-info"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl reporte_interno">
                                <div class="inner-card-text">
                                    <span class="report-title">BLOGS</span>
                                    <h4>2,650</h4>
                                    <span class="cuenta_reporte"> <i class="fas fa-long-arrow-alt-up"></i> 
                                    3.85%</span>
                                    <span class="cuenta_reporte text-muted">desde el mes pasado</span>
                                </div>
                                <div class="reporte_icono_interno">
                                    <i class="fas fa-file-alt text-warning"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl reporte_interno">
                                <div class="inner-card-text">
                                    <span class="report-title">VENTAS</span>
                                    <h4>25,542</h4>
                                    <span class="cuenta_reporte"> <i class="fas fa-long-arrow-alt-up"></i> 
                                    20.45%</span>
                                    <span class="cuenta_reporte text-muted">desde el mes pasado</span>
                                </div>
                                <div class="reporte_icono_interno">
                                    <i class="fas fa-shopping-cart text-secondary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>