<div class="container">
    <div class="row">
        <div class="col-lg-12 p-5">
            <!-- Shopping cart table -->
            <div class="container">
                <div class="wrapper wrapper-content animated">
                    <div class="mb-3">
                        <span class="pull-right text-muted" *ngIf="carrito.items">(<strong>{{carrito.items.length}}</strong>) ítems</span>
                        <h5>Carrito</h5>
                    </div>
                    <div class="mb-3" *ngIf="carrito.cambiado">
                        <span class="text-danger">
                            <i class="fas fa-exclamation-circle"></i> Hubo cambios en el carrito, se eliminaron 
                            los productos que fueron modificados recientemente. 
                        </span>
                    </div>
                    <div>
                        <div class="carrito_contenido">
                            <div class="table-responsive">
                                <table class="table carrito_tabla">
                                    <tbody *ngFor="let producto of carrito.items; let i = index">
                                        <tr>
                                            <td>
                                                <img [src]="producto.imagen" style="max-height: 150px;" alt="Imagen Producto" />
                                            </td>
                                            <td class="desc">
                                                <button (click)="ver_producto(producto)" class="btn texto_titulo text-start p-0">
                                                        <h3>{{producto.titulo}}</h3>
                                                    </button>
                                                <p class="small">
                                                    {{producto.nombre_estilo}}
                                                </p>
                                                <div>
                                                    <button (click)="eliminar_item(i)" class="btn text-danger"><i
                                                            class="fa fa-trash me-2"></i>
                                                        Quitar ítem</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mt-4" *ngIf="producto.cantidad != -1">
                                                    <div class="form-check-inline">
                                                        <button class="btn" aria-label="agregar_label" (click)="agregar(producto, i)"><i
                                                                class="fa fa-plus"></i></button>
                                                    </div>
                                                    <div class="form-check-inline w-100">
                                                        <input type="text" aria-label="cantidad_label" class="form-control" [value]="producto.cantidad" disabled>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <button class="btn" aria-label="quitar_label" (click)="quitar(producto, i)"><i
                                                                class="fa fa-minus"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h3>
                                                    {{producto.precio | precioCantidad: producto.cantidad | currency:'CRC':'symbol-narrow' }}
                                                </h3>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>

    <div class="row py-5 p-4 bg-white rounded">
        <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Soporte
            </div>
            <div class="p-4">
                <p class="font-italic mb-4">Póngase en contacto con nosotros si tiene alguna solicitud. Estamos disponibles las 24 horas.</p>
                <div class="text-center">
                    <h3><i class="fa fa-phone me-2"></i> +506 2233 XXXX</h3>
                </div>
            </div>
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                Instrucciones para el vendedor</div>
            <div class="p-4">
                <p class="font-italic mb-4">Si tiene alguna información adicional para el vendedor, puede dejarla en el cuadro a continuación.</p>
                <textarea aria-label="vendedor_indicaciones" name="" cols="30" rows="2" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="carrito.items">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Resumen del pedido</div>
            <div class="p-4" *ngIf="carrito.items.length != 0">
                <p class="font-italic mb-4">Los costos de envío y adicionales se calculan en función de los valores ingresados.
                </p>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">
                            Subtotal </strong><strong>{{precio_total | precioSubtotal | currency:'CRC':'symbol-narrow'}}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Costos de
                            envío</strong><strong>{{precio_envio | currency:'CRC':'symbol-narrow'}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Impuesto</strong><strong> {{precio_total | precioImpuesto |
                            currency:'CRC':'symbol-narrow'}}
                        </strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                        <h5 class="font-weight-bold">{{precio_total | precioTotal: precio_envio | currency:'CRC':'symbol-narrow'}}
                        </h5>
                    </li>
                </ul>
                <a href="/checkout" class="btn form_btn w-50 py-2 btn-block text-uppercase">Procesar Pedido</a>
            </div>
        </div>
    </div>

</div>