.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    transition: all .2s ease-in-out; 
}



.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}
.card:hover, .card:focus{
    transform: scale(1.1);
    cursor: pointer;
}

/*Referencia: https://bbbootstrap.com/snippets/bootstrap-ecommerce-product-grid-view-card-19577966*/