<div [formGroup]="presentaciones_form">
    <div class="form-group">
        <label for="tipo"><i class="fas fa-compact-disc"></i>Presentaciones</label>
        <div class="text-danger" *ngIf="enviado && estilos.controls.length === 0">
            <label class="font-weight-bold">
                <i class="fa fa-exclamation-circle"></i> El producto requiere por lo menos
                una presentación</label>
        </div>
        <table class="table" formArrayName="estilos">
            <tr>
                <th width="150px"><button type="button" class="btn btn-outline-primary" (click)="agregar_estilo()"
                        [disabled]="!estilos.valid">
                        <i class="fas fa-plus"></i>Agregar
                        Presentación</button>
                </th>
            </tr>
            <tr *ngFor="let estilo of estilos.controls; let i=index" [formGroupName]="i">
                <hr>
                <td>
                    <div class="container">
                        <button class="btn btn-outline-danger" (click)="eliminar_estilo(i)"><i
                                class="fas fa-trash"></i>Eliminar
                            Presentación</button>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="tipo"><i class="fas fa-heading"></i>Nombre</label>
                        <input type="text" [ngClass]="{ 'is-invalid': (estilo.get('nombre')?.touched || enviado) && 
                        estilo.get('nombre')?.errors }" class="form-control" placeholder="Nombre"
                            formControlName="nombre"  required>
                        <div *ngIf="enviado && estilo.get('nombre')?.errors?.required" class="invalid-feedback">
                            <div>
                                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                                    de nombre es obligatorio</label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="tipo"><i class="fas fa-coins"></i>Precio Extra<span class="text-muted"> (en
                                colones)</span></label>
                        <input type="number" [ngClass]="{ 'is-invalid': (estilo.get('precio')?.touched || enviado) && 
                        estilo.get('precio')?.errors }" class="form-control" placeholder="Precio"
                            formControlName="precio"  required>
                        <div *ngIf="enviado && estilo.get('precio')?.errors?.required" class="invalid-feedback">
                            <div>
                                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                                    de precio extra es obligatorio</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tipo"><i class="fas fa-dolly-flatbed"></i>Cantidad del Producto<span
                                class="text-muted"> (coloque un -1 si es digital)</span></label>
                        <input type="number" [ngClass]="{ 'is-invalid': (estilo.get('existencia')?.touched || enviado) && 
                        estilo.get('existencia')?.errors }" class="form-control" placeholder="Cantidad"
                            formControlName="existencia"  required>
                        <div *ngIf="enviado && estilo.get('existencia')?.errors?.required" class="invalid-feedback">
                            <div>
                                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                                    de cantidad es obligatorio</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" formArrayName="fotos">
                        <label for="tipo"><i class="fas fa-images"></i>Imágenes</label>
                        <div class="text-danger" *ngIf="enviado && fotos(i).controls.length === 0">
                            <label class="font-weight-bold">
                                <i class="fa fa-exclamation-circle"></i> El estilo requiere por lo menos
                                una imagen</label>
                        </div>
                        <table class="table tabla_imagenes">
                            <tr class="p-5">
                                <th>
                                    <button type="button" class="btn btn-outline-primary" (click)="agregar_foto(i)"><i
                                            class="fas fa-plus"></i>Agregar
                                        Imagen</button>
                                </th>
                            </tr>
                            <tr *ngFor="let foto of fotos(i).controls; let j=index">
                                <hr class="w-50">
                                <td>
                                    <input *ngIf="foto.value == null || foto.value == ''" type="file"
                                        accept="image/png, image/jpeg, image/jpg" (change)="leer_imagen($event, i, j)"
                                         required>
                                    <img *ngIf="foto.value != null || foto.value != ''" [src]="obtener_imagen(i,j)" alt="Imagen Seleccionada Producto Presentaciones">
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger" (click)="eliminar_foto(i, j)"><i
                                            class="fas fa-trash"></i>Eliminar Imagen</button>
                                </td>
                                <td>
                                    <div class="text-danger">
                                        <label class="font-weight-bold"
                                            *ngIf="(foto.touched || enviado) && (foto.value == null || foto.value == '')">
                                            <i class="fa fa-exclamation-circle"></i> Debe subir una imagen</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>