<div class="container-fluid card">
    <div class="card-title mt-4">
        <h4>Blogs</h4>
        <hr>
    </div>
    <div class="card-body">
        <a *ngIf="rol == '2'" type="button" class="btn btn-outline-primary" [routerLink]="['/inicio/crear-blog']"><i
                class="fas fa-plus me-2"></i>Agregar Nuevo Blog</a>
        <div class="table-responsive mt-4">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="trigger_tabla"
                class="row-border hover table table-hover w-100">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Categoría</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody *ngIf="blogs?.length != 0">
                    <tr *ngFor="let blog of blogs">
                        <td>{{ blog.titulo }}</td>
                        <td>{{ blog.fecha_creacion | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ blog.categoria }}</td>
                        <td>
                            <button class="btn btn-outline-info m-1" (click)="ver_blog(blog.id_blog)"><i
                                    class="fas fa-eye"></i></button>
                            <a *ngIf="rol == '2'" class="btn btn-outline-success m-1"
                                [routerLink]="['/inicio/modificar-blog']" [state]="{ id: blog.id_blog}"><i
                                    class="fas fa-pen"></i></a>
                            <button class="btn btn-outline-danger m-1"
                                (click)="abrir_modal_eliminar(blog.id_blog, blog.titulo)"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="blogs?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">¡No hay datos!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>