<div class="container-flex mt-3 mb-3">

    <h3><i class="fas fa-comment"></i> Comentarios </h3>

    <h5 class="text-muted m-5" *ngIf="comentarios.length == 0"> No hay comentarios </h5>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="form-group">
                <textarea aria-label="comentario_label" name="comentario" class="form-control" placeholder="Escribir un comentario..." [(ngModel)]="comentario" rows="4"></textarea>
                <br>
                <div class="d-flex justify-content-end align-items-end">
                    <button type="button" class="btn form_btn" (click)="comentar_blog()" [disabled]="cargando">
                        <span *ngIf="cargando" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Publicar
                        <i class="ms-3 fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
            <div class="comentario" *ngFor="let comentario of comentarios">
                <div class="bg_gris p-5">
                    <div>
                        <h5 class="h5 mb-0">{{comentario.nombre_autor}}</h5>
                        <small>{{comentario.fecha | date:'dd/MM/yyyy HH:mm a':'-1200'}}</small>
                    </div>

                    <p>{{comentario.comentario}}</p>

                    <ul class="list-inline d-sm-flex my-0" *ngIf="comentario.es_autor_actual">
                        <li class="list-inline-item g-mr-20">
                            <a class="btn btn-outline-success m-1" (click)="abrir_modal_comentario(comentario.comentario, comentario.id_comentario)"><i
                                    class="fas fa-pen"></i></a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                            <a class="btn btn-outline-danger m-1" (click)="abrir_modal_eliminar(comentario.id_comentario)"><i
                                    class="fas fa-trash"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-3" *ngIf="cargar_mas">
            <button type="button" class="btn form_btn" (click)="consultar_comentarios()" [disabled]="cargando_comentarios">
                <span *ngIf="cargando_comentarios" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cargar comentarios...
            </button>
        </div>
    </div>