.icon-menu {
    padding-right: 10px;
}

.nav-item {
    margin-left: 40px;
}

.navbar {
    background-color: var(--fondo_navbar) !important;
    background: var(--fondo_navbar) !important;
    transition: background-color 200ms linear;
}

.nav-item a, button, .boton {
    color: var(--texto_navbar);
}

.nav-item a:hover, button:hover, .boton:hover, .nav-item a:focus {
    color: var(--hover_navbar);
}


@media (max-width: 990px) {
    .navbar {
        background: rgb(54, 54, 54)!important;
    }
    .nav-item a {
        color: white;
    }
    .nav-item a:hover {
        color: var(--rojizo) !important;
    }
    .nav-item a img {
        filter: grayscale(1) invert(1);
    }
}