<div class="container-fluid bg-light p-5">
    <footer class="py-5">
        <div class="row">
            <div class="col d-none d-lg-block">
                <a href="/" class="d-flex align-items-center link-dark mx-auto">
                    <img src="../../../../assets/img/logo.png" class="w-75" alt="Logo Audiophistic">
                </a>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <h5>Secciones</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Página Principal</a></li>
                    <li class="nav-item mb-2"><a href="/blogs" class="nav-link p-0 text-muted">Blogs</a></li>
                    <li class="nav-item mb-2"><a href="/buscar" class="nav-link p-0 text-muted">Búsqueda</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <h5>Productos</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/audifonos" class="nav-link p-0 text-muted">Audífonos</a></li>
                    <li class="nav-item mb-2"><a href="/albumes" class="nav-link p-0 text-muted">Álbumes</a></li>
                    <li class="nav-item mb-2"><a href="/parlantes" class="nav-link p-0 text-muted">Parlantes</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1 d-none d-lg-block">
                <form>
                    <h5>Suscríbase a nuestra plataforma</h5>
                    <p>Reciba correos mensuales sobre nuestros productos y blogs</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="correo" class="visually-hidden">Correo electrónico</label>
                        <input id="correo" type="email" class="form-control" placeholder="Correo Electrónico">
                        <button class="btn btn-primary" type="button">Suscribirse</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between pt-4 mt-4 border-top">
            <p>&copy; 2021 Audiophistic.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <i class="fab fa-twitter fa-2x"></i>
                </li>
                <li class="ms-3"><i class="fab fa-facebook fa-2x"></i></li>
                <li class="ms-3"><i class="fab fa-instagram fa-2x"></i></li>
            </ul>
        </div>
    </footer>
</div>